@import "tailwindcss";

:root{
  /* BACKGROUNDS */
  --background-first-layer: #f4f6f7;
  --background-second-layer: #FBFCFC;

  /* TEXT */
  --text-primary: #1d1d1f;
  --text-secondary: #8EA0B0;

  /* NEUTRALS */
  --light-gray: #c7c7cc;

  /* BRAND / HIGHLIGHT */
  --green-title: #A1C400;
  --highlighted-text: #DAFE34;

  /* FEEDBACK */
  --success-advice: #4AC474;
  --error-advice: #E03F28;

  /* === PALETA CARDS === */
  /* LIGHT GREEN */
  --light-green: #A1C400;
  --light-green-bg: #F5F7ED;

  /* ORANGE */
  --orange: #F59F0A;
  --orange-bg: #FDF5E6;

  /* GREEN */
  --green: #21C45D;
  --green-bg: #E8F9EE;

  /* BLUE */
  --blue: #3C83F6;
  --blue-bg: #EBF2FE;

  /* RED */
  --red: #E54D28;
  --red-bg: #FADFDf;
}

/* 100 - Thin */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* 200 - Extra Light */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 - SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 800 - ExtraBold */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-first-layer);
  font-family: 'Inter', sans-serif;
}